.aboutImg {
  position: absolute;
  height: 110%;
  left: 7%;
  top: 8%;
}

.bio {
  position: absolute;
  top: 40%;
  text-align: right;
  color: rgb(0,204,255);
  width: 309px;
  right: 5.5%;
  font-size: 1.4rem;
}

.cv {
  position: absolute;
  left: 8%;
  top: 135%;
  color: rgb(174, 0, 255);
  list-style-type: circle
}

@media screen and (max-width: 900px) and (min-width: 601px) {
	.bio {
		font-size: 1rem;
    width: 220px;
	}
  .cv li {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .aboutImg {
    height: 80%;
    left: 1%;
    opacity: 0.7;
    top: 16%;
  }
  .bio {
    font-size: 0.8rem;
    width: 176px;
    top: 33%;
  }
  .cv {
    top: 115%;
    width: 215px;
  }

}
