.image_wrapper {
    position: realtive;
    width: 100%;
  
  }
  
  .sfish1 {
    position: absolute;
    padding: 5% 0 0 5%;
    height: 115%;

  }
  

.sfish2 {
    position: absolute;
    height: 75%;
    top: 217%;
    left: 5%;

  }

  .sfish3 {
    position: absolute;
    height: 75%;
    top: 310%;
    right: 5%;

  }




@media screen and (max-width: 900px) and (min-width: 763px) {
    .sfish1 {
      padding: 78px 0 0 0;
      right: 9%;
      height: 85%;
    }
  

    .sfish2 {
      top: 125%;
      right: 9%;
      height: 37%;
    }
  
    .sfish3 {
 
      top: 170%;
      right: 5%;
      height: 35%;
    }
  
 

  
  }
  
  
  @media only screen and (max-width: 665px) {
    .sfish1 {
      height: 60%;
      top: 26px;
      right: 9%;
    }
  
    .sfish2 {
      top: 124%;
      height: 16%;
      right: 9%;
    }
  
    .sfish3 {
      top: 148%;
      height: 16%;
      right: 5%;
    }

  }
  