.babyJanesText {
	position: absolute;
	right: 5.5%;
	top: 40%;
	height: 800px;
	width: 350px;
	text-align: right;
	color: rgb(108, 0, 255);
}

span {
	color: rgb(214, 199, 1);
}

.bj1 {
	position: absolute;
	height: 100%;
	padding-left: 3%;
	top: 1%;
}

.bj2-4 {
	position: absolute;
	height: 80%;
	right: 3%;
	top: 115%;
}

.bj5-7 {
	position: absolute;
	height: 87%;
	left: 3%;
	top: 210%;
}

.bj8-9 {
	position: absolute;
	height: 73%;
	padding-left: 4%;
	top: 310%;
}

.bj10-12 {
	position: absolute;
	height: 80%;
	left: 7%;
	top: 400%;
}

.bj13-14 {
	position: absolute;
	height: 60%;
	padding-left: 2%;
	top: 492%;
}

.bj14-16 {
	position: absolute;
	height: 65%;
	padding-left: 6%;
	top: 564%;
}

.bj17-18 {
	position: absolute;
	height: 50%;
	left: 5%;
	top: 643%;
}


@media screen and (max-width: 900px) and (min-width: 601px) {
  .babyJanesText {
		right: 5.5%;
		top: 96%;
	}

  .bj1 {
		height: 90%;
		right: 9%;
		top: 26px;
	}

	.bj2-4 {
		height: 50%;
		right: 9%;
		top: 132%;
	}

	.bj5-7 {
		height: 50%;
		left: 5%;
		top: 193%;
	}

	.bj8-9 {
		height: 50%;
		right: 5.5%;
		top: 253%;
	}

	.bj10-12 {
		height: 40%;
		width: auto;
		left: 5%;
		top: 313%;
	}

	.bj13-14 {
		height: 40%;
		width: auto;
		left: 5%;
		top: 365%;
	}

	.bj14-16 {
		height: 30%;
		width: auto;
		right: 5%;
		top: 415%;
	}

	.bj17-18 {
		height: 40%;
		width: auto;
		left: 5%;
		top: 455%;
	}
}

@media only screen and (max-width: 600px) {
  .babyJanesText {
  right: 7%;
  top: 78%;
}
	.bj1 {
		height: 65%;
		top: 11%;
		right: 9%;
	}

	.bj2-4 {
		top: 122%;
		height: 42%;
	}

	.bj5-7 {
		top: 175%;
		height: 42%;
	}

	.bj8-9 {
		top: 224%;
		height: 36%;
	}

	.bj10-12 {
		top: 270%;
		height: 32%;

	}

	.bj13-14 {
		top: 306%;
		height: 32%;
	}

	.bj14-16 {
		top: 344%;
		height: 25%;
	}

	.bj17-18 {
		top: 378%;
		height: 25%;
	}
}
