.wm1 {
	position: absolute;
	padding-left: 7%;
	top: 9%;
	height: 95%;
}

.wm2and3 {
  position: absolute;
  height: 90%;
  width: 70%;
  right: 12%;
  top: 121%;
  display: flex;
}

.wm2 {
  position: relative;
  height: 80%;
  padding-right: 20px;
  padding-top: 70px;
}

.wm3 {
  position: relative;
  height: 100%;
}

.wm4and5 {
  position: absolute;
  left: 5%;
  top: 232%;
  height: 92%;
  width: 90%;
  display: flex;
}

.wm4 {
	position: relative;
	height: 80%;
  padding-right: 20px;
  padding-top: 70px;
}

.wm5 {
	position: relative;
	height: 95%;
}

.wm6and7 {
  position: absolute;
  left: 5%;
  top: 343%;
  height: 92%;
  width: 84%;
  display: flex;
}

.wm6 {
	position: relative;
	height: 92%;
  padding-right: 20px;
}

.wm7 {
	position: relative;
	height: 90%;
  padding-top: 70px;
}

.wm8and9 {
  position: absolute;
  left: 5%;
  top: 449%;
  height: 92%;
  width: 84%;
  display: flex;
}

.wm8 {
	position: relative;
	height: 78%;
  padding-right: 20px;
}

.wm9 {
	position: relative;
	height: 76%;
  padding-top: 65px;
}

.wm10 {
	position: absolute;
	right: 5.5%;
	top: 546%;
	height: 96%;
}

.wmWrapper {
	position: absolute;
	right: 5.5%;
  width: 235px;
	top: 35%;
	height: 400px;
}

.wmDescription {
	text-align: right;
	color: rgb(245, 27, 236);
}

.mobImgs {
  opacity: 0;
}

@media screen and (max-width: 900px) and (min-width: 763px) {

	.wm1 {
		right: 9%;
		top: 77px;
		height: 65%;
	}

  .wm2and3 {
    height: 50%;
    width: 84%;
    top: 101%;
  }

  .wm4and5 {
    left: 5%;
    top: 165%;
    height: 50%;
    width: 84%;
  }

.wm4 {
  padding-top: 50px;
}

  .wm6and7 {
    left: 5%;
    top: 226%;
    height: 50%;
    width: 84%;
  }

  .wm8and9 {
    left: 5%;
    top: 288%;
    height: 56%;
    width: 84%;
  }

  .wm10 {
    top: 352%;
    height: 70%;
  }

  .wmWrapper {
  	top: 75%;
  }
}

@media only screen and (max-width: 600px) {

.wm1 {
  top: 45px;
  height: 61%;
  right: 9%;
}

.wm2and3 {
  display: none;
}

.wm4and5 {
  display: none;
}

.wm6and7 {
  display: none;
}

.wm8and9 {
  display: none;
}

.mobImgs {
  opacity: 1;
}

.wm2mob {
  position: absolute;
  top: 99%;
  right: 9%;
  height: 50%;
}

.wm3mob {
  position: absolute;
  top: 159%;
  left: 9%;
  height: 50%;
}

.wm4mob {
  position: absolute;
  top: 219%;
  right: 9%;
  height: 50%;
}

.wm5mob {
  position: absolute;
  top: 280%;
  left: 9%;
  height: 50%;
}

.wm6mob {
  position: absolute;
  top: 341%;
  right: 9%;
  height: 50%;
}

.wm7mob {
  position: absolute;
  top: 402%;
  left: 9%;
  height: 50%;
}

.wm8mob {
  position: absolute;
  top: 464%;
  right: 9%;
  height: 50%;
}

.wm9mob {
  position: absolute;
  top: 525%;
  left: 9%;
  height: 50%;
}

.wm10 {
  top: 588%;
  height: 61%;
}

.wmWrapper {
  top: 72%;
  right: 9%;
  width: 200px;
}

}
