.rhonda1 {
  position: absolute;
  padding: 5% 0 0 5%;
  height: 115%;
}

.rhonda2-3 {
  position: absolute;
  top: 145%;
  right: 2%;
  width: 90%;
}

.rhonda4 {
  position: absolute;
  top: 238%;
  padding-left: 5%;
  height: 88%;
}

.rhonda5 {
  position: absolute;
  top: 345%;
  right: 5%;
  height: 65%;
}

.rhonda6 {
  position: absolute;
  top: 425%;
  padding-left: 5%;
  height: 65%;
  padding-bottom: 4%;
}

.rhonda2 {
  opacity: 0;
  height: 0;
}

.rhonda3 {
  opacity: 0;
  height: 0;
}

.RTextWrapper {
	position: absolute;
	right: 5.5%;
	top: 40%;
	height: 800px;
	width: 350px;
	text-align: right;
	color: rgb(237, 40, 52);
}

@media screen and (max-width: 900px) and (min-width: 601px) {
  .rhonda1 {
    padding: 78px 0 0 0;
    right: 9%;
    height: 85%;
  }

  .rhonda2-3 {
    top: 157%;
    right: 9%;
    height: 30%;
    width: auto;
  }

  .rhonda4 {
    top: 200%;
    left: 5%;
    height: 32%;
  }

  .rhonda5 {
    position: absolute;
    top: 243%;
    right: 5%;
    height: 35%;
  }

  .rhonda6 {
    position: absolute;
    top: 290%;
    left: 5%;
    height: 35%;
  }
  .RTextWrapper {
  	top: 97%;
}


}

@media only screen and (max-width: 600px) {
  .rhonda1 {
    height: 60%;
    top: 26px;
    right: 9%;
  }
  ,
  .rhonda2-3 {
    display: none;
  }
  ,
  .rhonda2 {
    position: absolute;
    top: 130%;
    opacity: 1;
    height: 50%;
    right: 5.5%;
  }
  ,
  .rhonda3 {
    position: absolute;
    top: 191%;
    opacity: 1;
    width: auto;
    height: 30%;
    left: 5%;
  }
  ,
  .rhonda4 {
    top: 249%;
    height: 30%;
    padding-left: 0;
    right: 5%;
  }
  ,
  .rhonda5 {
    top: 290%;
    height: 25%;
    left: 5%;
  }
  ,
  .rhonda6 {
    top: 327%;
    height: 30%;
    padding-left: 0%;
    right: 5%;
  }
  .RTextWrapper {
		right: 7%;
		top: 72%;
	}
}
